<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamright.brokurly.product.mapper.MainCategoryMapper">
	<select id="getMainCateList" resultType="com.teamright.brokurly.model.MainCategoryVO">
		SELECT * FROM maincategory_table
	</select>
	<select id="getMainCateName" resultType="String">
		SELECT maincate_name FROM maincategory_table WHERE maincate_id=#{maingcate_id}		
	</select>
	<select id="getMainCateId" resultType="int">
		SELECT maincate_id FROM maincategory_table WHERE maincate_id=#{maingcate_id}		
	</select>
</mapper>
