<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamright.brokurly.customer.mapper.CustomerInfoMapper">
	<select id="getAllCustomerList" resultType="com.teamright.brokurly.model.CustomerVO">
		SELECT * FROM customer_table
	</select>
	<select id="getCustomerInfo" resultType="com.teamright.brokurly.model.CustomerVO">
		SELECT * FROM customer_table WHERE customer_id=#{customer_id}
	</select>
	<resultMap type="int" id="getCouponCount">
		<result property="count" column="count" />
	</resultMap>
	<select id="getCouponCount" resultType="int" resultMap="getCouponCount">
		SELECT count(*) as count FROM customer_coupon_table INNER JOIN coupon_table USING (coupon_id) 
						WHERE customer_id=#{customer_id} AND coupon_confirm='미사용' GROUP BY customer_id
	</select>
	<!-- 소멸되기 2주 이전의 포인트만 조회 -->
	<select id="getDisappearPoint" resultType="String">
		SELECT sum(history_amount) FROM mileagehistory_table WHERE customer_id=#{customer_id} 
															 AND history_amount > 0 
															 AND (TRUNC(history_validity - sysdate)) <![CDATA[<=]]> 14
	</select>
	<select id="getAddressList" resultType="com.teamright.brokurly.model.AddressVO">
		SELECT * FROM address_table WHERE customer_id=#{customer_id}
	</select>
	<select id="getMHistoryList" resultType="com.teamright.brokurly.model.MileageHistoryVO">
		SELECT * FROM mileagehistory_table WHERE customer_id=#{customer_id}
	</select>
	<select id="getCouponList" resultType="com.teamright.brokurly.model.CouponVO">
		SELECT * FROM customer_coupon_table INNER JOIN coupon_table USING (coupon_id) WHERE customer_id=#{customer_id}
	</select>
	<select id="getMonthPay" resultType="int">
		SELECT sum(product_price) as sum FROM order_table 
								         INNER JOIN detailorder_table USING (order_id) 
								         INNER JOIN product_table USING (product_id)
								         WHERE customer_id=#{customer_id} AND (TRUNC(order_time - sysdate)) <![CDATA[<=]]> 30
	</select>
</mapper>