<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamright.brokurly.customer.mapper.FindMapper">
	<select id="getPW" resultType="String">
		SELECT customer_pw FROM customer_table WHERE 
						customer_name=#{customer_name} AND customer_id=#{customer_id} AND customer_email=#{customer_email}
	</select>
	<select id="getID" resultType="String">
		SELECT customer_id FROM customer_table WHERE customer_name=#{customer_name} AND customer_email=#{customer_email}
	</select>
	<update id="changePW">
		UPDATE customer_table SET customer_pw=#{customer_pw} WHERE customer_id=#{customer_id}
	</update>
</mapper>