<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamright.brokurly.customer.mapper.SignInMapper">
    <select id="idCheck" resultType="String">
    	SELECT customer_id FROM customer_table WHERE customer_id=#{customer_id}
    </select>
    <select id="pwCheck" resultType="String">
    	SELECT customer_pw FROM customer_table WHERE customer_id=#{customer_id}
    </select>
    <select id="getName" resultType="String">
    	SELECT customer_name FROM customer_table WHERE customer_id=#{customer_id}
    </select>
    <select id="getAddress" resultType="com.teamright.brokurly.model.AddressVO">
    	SELECT * FROM address_table WHERE customer_id=#{customer_id} AND address_check=1
    </select>
    <select id="getGrade" resultType="String">
    	SELECT customer_grade FROM customer_table WHERE customer_id=#{customer_id}
    </select>
</mapper>