@charset "UTF-8";

* {user-select: none;}
.main {border-bottom: solid 1px #f7f7f7;}

/* total */
.main body, .main input, .main select, .main textarea, .main button {line-height: 1; letter-spacing: -.05em; color: #4c4c4c; font-size: 12px; max-width: 100%;}
.main div {display: block;}
.main {line-height: 1; letter-spacing: -.05em; color: #4c4c4c; font-size: 12px; max-width: 100%;}
.main *, .main *:after, .main *:before {box-sizing: border-box; margin: 0; padding: 0;}
.main a {background-color: transparent; text-decoration: none;}
.main div, .main th, .main td, .main li, .main dt, .main dd, .main p {word-break: break-all;}
.main ul {display: block; list-style-type: disc; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 40px;}
.main ol, .main ul {list-style-type: none;}

.content {min-width: 1050px;}
.content {padding-bottom: 100px;}

.menu_event {position: fixed; top: 270px; left: 50%; min-width: 150px; text-align: right;}
.menu_event {left: 0; margin: 0;}
.menu_event .menu li {margin-bottom: 20px;}
.menu_event a {font-weight: 500; font-size: 16px; color: #999; letter-spacing: -.4px;}
.menu_event .menu a {position: relative; padding-right: 15px; color: #ddd;}
.menu_event .menu a.on {color: rgb(117, 214, 159);}
.menu_event .menu a:after {position: absolute; top: 9px; right: 0; width: 6px; height: 6px; border-radius: 6px; background-color: #c8c8c8; opacity: .5; content: "";}
.menu_event .menu a.on:after {background-color: rgb(117, 214, 159);}

.page_event {min-width: 1050px; color: #666;}

.total_view {width: 820px; margin: 0 auto;}

.screen_out {display: block; overflow: hidden; position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px;}

.event_list {padding-top: 65px;}
.event_list .item {display: table; width: 100%; padding: 44px 0; border-bottom: 1px solid #eee; line-height: 1.5;}
.event_list .item:first-child {border-top: 1px solid #eee;}
.event_list .link_event {display: table-cell; width: 260px; vertical-align: middle;}
.event_list .tit_total {display: block; font-weight: 600; font-size: 27px; letter-spacing: -1px; color: #282828;}
.event_list .txt_ex {margin: 1px 0 0 3px; font-size: 14px; color: rgb(89, 192, 134);}

.ico_comm {display: inline-block; vertical-align: middle;}
.event_list .ico_comm {width: 24px; height: 24px; margin-top: -2px;}
.event_list .txt_info {display: table-cell; font-weight: 300; font-size: 16px; line-height: 28px; letter-spacing: -.7px; word-break: keep-all; vertical-align: top;}

.event_bnr {margin-top: 58px;}
.event_bnr .link_bnr {display: block; margin-bottom: 12px; padding: 18px 0 27px; font-weight: 300; font-size: 14px; color: #fff; text-align: center;}
.event_bnr .bg_purple {background-color: rgb(26, 102, 59);}
.event_bnr .bg_dark {background-color: #1d1d1d;}
.event_bnr .link_bnr .tit {display: block; padding: 0 0 4px 20px; font-weight: 500; font-size: 20px; line-height: 32px;}

.ico_arr_b, .ico_arr_w {width: 32px; height: 32px;}
.ico_arr_w {background-image: url('../img/icon/ico-arr-w.png');}

.event_bnr .link_bnr .ico_arr_w {margin-top: -4px;}

/* lovers */
.main h2 {margin-block-start: 0.83em; margin-block-end: 0.83em; margin-inline-start: 0px; margin-inline-end: 0px; font-weight: bold;}
.main h3 {margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; font-weight: bold;}
.main a {background-color: transparent; text-decoration: none; color: inherit;}

.page_event {min-width: 1050px; color: #666;}

.cont_view {width: 780px; margin: 0 auto;}

.event_tit {position: relative; padding: 65px 0 45px; border-bottom: 1px solid #eee;}
.event_tit .tit_event {display: block; margin-bottom: 15px; font-size: 31px; color: #333; letter-spacing: -1.5px;}
.event_tit .txt_event {font-weight: 300; font-size: 17px; line-height: 28px; letter-spacing: -.7px;}

.grade_list {display: flex; position: relative; padding-top: 50px; justify-content: space-between;}
.grade_list .item {width: 120px; margin: auto 0 0; border: 1px solid seagreen; border-radius: 5px 0 0 0; text-align: center; box-sizing: border-box; transition: background-color .3s ease-in-out;}
.grade_list .item:first-child {height: 90px; color: seagreen}
.grade_list .item:nth-child(2) {height: 80px; border-color: rgb(77, 173, 119); margin-left: 9.9px;}
.grade_list .item:nth-child(3) {height: 70px; border-color: rgb(101, 209, 148); margin-left: 9.9px;}
.grade_list .item:nth-child(4) {height: 60px; border-color: rgb(132, 240, 179); margin-left: 9.9px;}
.grade_list .item:nth-child(5) {height: 50px; border-color: darkseagreen; margin-left: 9.9px;}
.grade_list .item:nth-child(6) {height: 43px; border-color: rgb(123, 145, 132); margin-left: 10px;}
.grade_list .item.on {color: #fff;}
.grade_list .on:after, 
.grade_list .on:first-child, 
.grade_list .on:first-child:after {background-color: seagreen;}
.grade_list .on:after {position: absolute; bottom: 0; left: 0; right: 0; height: 2px; content: "";}
.grade_list .btn_grade {display: flex; position: relative; height: 100%; padding: 0 9px 12px; box-sizing: border-box;}
.grade_list .tit {position: absolute; bottom: 13px; left: 9px; font-weight: 500; font-size: 16px; text-align: left;}
.grade_list .txt {position: absolute; bottom: 11px; right: 9px; font-size: 12px; text-align: right;}
.grade_list .txt .num {font-weight: 500; font-size: 18px;}

.ico_comm {display: inline-block; vertical-align: middle;}

.grade_list .ico_arr {width: 7px; height: 17px; margin: 2px 0 0 3px; vertical-align: top;}
.grade_list .item.on .ico_arr {width: 7px; height: 17px;}
.grade_list .item:nth-child(2) {height: 80px; border-color: rgb(77, 173, 119); color: rgb(77, 173, 119);}
.grade_list .item:nth-child(3) {height: 70px; border-color: rgb(101, 209, 148); color: rgb(101, 209, 148);}
.grade_list .item:nth-child(4) {height: 60px; border-color: rgb(132, 240, 179); color: rgb(132, 240, 179);}
.grade_list .item:nth-child(5) {height: 50px; border-color: darkseagreen; color: darkseagreen;}
.grade_list .item:nth-child(6) {height: 43px; border-color: rgb(123, 145, 132); color: rgb(123, 145, 132);}

.grade_desc {position: relative; min-height: 240px;}
.grade_desc .item {display: none; position: absolute; top: 0; left: 0; right: 0; padding: 0 13px;}
.grade_desc .item.on {display: block;}
.grade_desc .wrap_tit {float: left; width: 250px; padding-top: 50px; font-weight: 300; font-size: 13px; line-height: 1.5; letter-spacing: -.4px;}
.grade_desc .wrap_tit .tit {display: block; margin-bottom: 8px; font-weight: 600; font-size: 22px; color: seagreen; letter-spacing: -.5px;}
.grade_desc .list_info {overflow: hidden; position: relative; padding-top: 45px;}
.grade_desc .list_info li {overflow: hidden; min-height: 32px; margin-bottom: 5px; font-size: 14px; line-height: 1.2; color: #282828; letter-spacing: -.6px;}
.grade_desc .list_info .ico_comm {float: left; width: 32px; height: 32px; margin-right: 19px;}
.grade_desc .list_info .ico_won {padding-top: 4px; padding-left: 7px; font-size: 20px; font-weight: 800;}
.grade_desc .list_info .txt_info {display: block; overflow: hidden; padding-top: 8px;}
.grade_desc .list_info .num {display: inline-block; margin-top: -5px; font-weight: 600; font-size: 20px; letter-spacing: -.5px; vertical-align: top;}
.grade_desc .list_info .ico_double {padding-top: 7px; padding-left: 7px; font-size: 17px; font-weight: 800;}
.grade_desc .list_info .ico_gift {padding-top: 4px; padding-left: 7px; font-size: 17px; font-weight: 800;}
.grade_desc .list_info .ico_coupon {padding-top: 4px; padding-left: 4px;}
.grade_desc .list_info .ex {display: block; padding-top: 5px;}
.grade_desc .list_info .total {position: absolute; top: 50%; left: 340px; font-weight: 300; font-size: 12px; color: #999; text-align: center;}
.grade_desc .list_info .total .tit {display: block; margin-bottom: 8px; font-weight: 600; font-size: 14px; color: #282828;}
.grade_noti .list_noti {padding: 25px 15px 40px; border-top: 1px solid #eee; color: #999; font-size: 13px; line-height: 23px;}

.list_noti li {position: relative; padding-left: 7px; font-weight: 300; font-size: 13px; line-height: 23px; color: #999; letter-spacing: -.5px;}

.event_noti, .txt_noti {line-height: 21px; letter-spacing: -.5px;}
.event_noti {padding: 45px 20px 25px 60px; font-size: 13px; background-color: #f7f7f7;}
.event_noti {padding-left: 40px;}
.event_noti .desc_noti {overflow: hidden;}
.event_noti .list_noti {padding-bottom: 20px;}
.event_noti .tit_noti {float: left; width: 120px; font-weight: 500;}
.event_noti .tit_noti2 {display: block; margin-bottom: 8px; font-weight: 500;}

.list_noti li {position: relative; padding-left: 7px; font-weight: 300; font-size: 13px; line-height: 23px; color: #999; letter-spacing: -.5px;}
.list_noti li:after {position: absolute; top: 10px; left: 0; width: 4px; height: 4px; background: url(https://res.kurly.com/images/event/fixed/common/ico-dot.png) no-repeat; background-size: 3px 3px; content: "";}

.grade_list > div {display: inline-block; margin-right: 20px;}
.grade_list .on:after, 
.grade_list .on:first-child, 
.grade_list .on:first-child:after {background-color: seagreen; color: white;}
.grade_list .on:nth-child(2), 
.grade_list .on:nth-child(2):after {background-color: rgb(77, 173, 119); color: white;}
.grade_list .on:nth-child(3), .grade_list .on:nth-child(3):after {background-color: rgb(101, 209, 148); color: white;}
.grade_list .on:nth-child(4), .grade_list .on:nth-child(4):after {background-color: rgb(132, 240, 179); color: white;}
.grade_list .on:nth-child(5), .grade_list .on:nth-child(5):after {background-color: darkseagreen; color: white;}
.grade_list .on:nth-child(6), .grade_list .on:nth-child(6):after {background-color: rgb(123, 145, 132); color: white;}

/* friend */
.menu_event .menu li {margin-bottom: 20px;}

.page_event {min-width: 1050px; color: #666;}

.cont_view {width: 780px; margin: 0 auto;}

.event_tit {position: relative; padding: 65px 0 45px; border-bottom: 1px solid #eee;}
.event_tit .tit_event {display: block; margin-bottom: 15px; font-size: 31px; color: #333; letter-spacing: -1.5px;}
.event_tit .txt_event {font-weight: 300; font-size: 17px; line-height: 28px; letter-spacing: -.7px;}

.event_info {padding: 60px 0 70px;}
.event_info .cont_info {overflow: hidden;}
.event_info .cont_info:last-child {margin-bottom: 0;}
.event_info .tit_info {float: left; width: 220px; font-weight: 200; font-size: 24px; line-height: 35px; color: #282828; letter-spacing: -1px;}

.emph {font-weight: 600;}

.event_info .desc_info {overflow: hidden;}

.box_bubble {position: relative; height: 30px; margin-bottom: 22px; padding: 7px 15px; font-weight: 300; font-size: 15px; background-color: rgb(77, 173, 119); color: #fff; box-sizing: border-box; letter-spacing: -.3px;}
.box_bubble:after {position: absolute; bottom: -8px; left: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid rgb(77, 173, 119); content: "";}

.event_info .list_info li {position: relative; margin-bottom: 5px; padding-left: 85px; font-weight: 300; font-size: 16px; line-height: 26px; letter-spacing: -.6px;}
.event_info .list_info .tit {position: absolute; left: 0; font-weight: 600; font-size: 14px; color: rgb(77, 173, 119); letter-spacing: -.3px;}
.event_info .list_info .txt_etc {display: block; font-size: 14px; color: #999;}

.event_btn .btn_link {display: table; position: relative; width: 700px; margin: 0 auto; padding: 15px 0 15px 25px; border-radius: 8px; font-weight: 300; font-size: 14px; background-color: #eee; letter-spacing: -.6px;}
.event_btn .btn_link .cell {display: table-cell; line-height: 1.2;   letter-spacing: -.4px; vertical-align: middle;}
.event_btn .btn_link .cell:first-child {width: 85px;}

.ico_comm {display: inline-block; vertical-align: middle;}

.event_btn .btn_link .ico_kakao {background-image: url('../img/icon/thum-kakao.png');}
.event_btn .btn_link .cell:first-child .ico_comm {width: 56px; height: 56px; background-size: 56px 56px; border-radius: 4px;}

.ico_arr_b {background-image: url('../img/icon/ico-arr-b.png');}
.ico_arr_b, .ico_arr_w {width: 32px; height: 32px;}

.cont_view {width: 780px; margin: 0 auto;}

.event_noti {padding-left: 40px;}
.event_noti {padding: 45px 20px 25px 60px; font-size: 13px; background-color: #f7f7f7;}
.event_noti, .txt_noti {line-height: 21px; letter-spacing: -.5px;}
.event_noti .tit_noti {float: left; width: 120px; font-weight: 500;}
.event_noti .desc_noti {overflow: hidden;}
.event_noti .list_noti {padding-bottom: 20px;}

.list_noti li {position: relative; padding-left: 7px; font-weight: 300; font-size: 13px; line-height: 23px; color: #999; letter-spacing: -.5px;}
.list_noti li:after {position: absolute; top: 10px; left: 0; width: 4px; height: 4px; background: url(https://res.kurly.com/images/event/fixed/common/ico-dot.png) no-repeat; background-size: 3px 3px; content: "";}


/* basket */
.menu_event.resize {top: 80px;}

.page_event {min-width: 1050px; color: #666;}

.cont_view {width: 780px; margin: 0 auto;}

.event_tit {position: relative; padding: 65px 0 45px; border-bottom: 1px solid #eee;}

.event_tit .tit_event {display: block; margin-bottom: 15px; font-size: 31px; color: #333; letter-spacing: -1.5px;}
.event_tit .txt_event {font-weight: 300; font-size: 17px; line-height: 28px; letter-spacing: -.7px;}

.event_info {padding: 60px 0 70px;}
.event_info .cont_info {overflow: hidden; margin-bottom: 75px;}
.event_info .tit_info {float: left; width: 220px; font-weight: 200; font-size: 24px; line-height: 35px; color: #282828; letter-spacing: -1px;}

.emph {font-weight: 600;}

.event_info .desc_info {overflow: hidden;}

.box_bubble {position: relative; height: 30px; margin-bottom: 22px; padding: 7px 15px; font-weight: 300; font-size: 15px; background-color: rgb(77, 173, 119); color: #fff; box-sizing: border-box; letter-spacing: -.3px;}
.box_bubble:after {position: absolute; bottom: -8px; left: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid rgb(77, 173, 119); content: "";}

.event_info .list_info li {position: relative; margin-bottom: 5px; padding-left: 85px; font-weight: 300; font-size: 16px; line-height: 26px; letter-spacing: -.6px;}
.event_info .list_type2 li {padding-left: 210px;}
.event_info .list_info .tit {position: absolute; left: 0; font-weight: 600; font-size: 14px; color: rgb(77, 173, 119); letter-spacing: -.3px;}

.box_sns {margin: 50px 0 0; padding: 46px 47px 20px; background-color: #eaf5e7; letter-spacing: -.5px;}
.box_sns .tit {float: left; width: 175px; font-size: 14px; line-height: 22px; color: #c93287;}
.box_sns .ico_instagram {width: 13px; height: 13px; margin: -4px 0 0 4px; background-image: url('../img/icon/ico-logo-instagram.png');}
.box_sns .list_sns {overflow: hidden; padding-bottom: 20px;}
.box_sns .list_sns li {margin-bottom: 10px; font-weight: 300; font-size: 14px; line-height: 22px; color: #282828; word-break: keep-all;}
.box_sns .list_sns .ico_txt {margin-right: 5px; color: #c93287;}
.box_sns .list_sns .hash {display: inline-block; height: 22px; padding: 0 3px; border: 1px solid #db84b5; border-radius: 5px; font-weight: 500; line-height: 20px; background-color: #fff;}
.box_sns .list_sns .ex {margin: -5px 0 0 15px; font-size: 12px; color: #666;}
.box_sns .tit_blog {color: #2db400;}
.box_sns .ico_blog {width: 15px; height: 12px; margin: -2px 0 0 4px; background-image: url('../img/icon/ico-logo-blog.png');}
.box_sns .list_blog .ico_txt {color: #2db400;}
.box_sns .list_blog .hash {border-color: #97d383;}

.event_noti {padding-left: 40px;}
.event_noti {padding: 45px 20px 25px 60px; font-size: 13px; background-color: #f7f7f7;}
.event_noti, .txt_noti {line-height: 21px; letter-spacing: -.5px;}
.event_noti .tit_noti {float: left; width: 120px; font-weight: 500;}
.event_noti .list_noti {padding-bottom: 20px;}
.event_noti .desc_noti {overflow: hidden;}
.event_noti .tit_noti2 {display: block; margin-bottom: 8px; font-weight: 500;}

.list_noti li {position: relative; padding-left: 7px; font-weight: 300; font-size: 13px; line-height: 23px; color: #999; letter-spacing: -.5px;}
.list_noti li:after {position: absolute; top: 10px; left: 0; width: 4px; height: 4px; background: url(https://res.kurly.com/images/event/fixed/common/ico-dot.png) no-repeat; background-size: 3px 3px; content: "";}

.best_review {margin-top: 70px; background-color: #eaf5e7;}
.best_review .top_info {overflow: hidden; padding: 68px 0 40px; font-weight: 300;}
.best_review .top_info {overflow: hidden; padding: 68px 0 40px; font-weight: 300;}
.best_review .top_info .tit {float: left; width: 220px; font-weight: 300; font-size: 18px; line-height: 26px; color: #282828; letter-spacing: -.45px;}
.best_review .top_info .txt {overflow: hidden; font-size: 14px; line-height: 24px; color: #666; letter-spacing: -.35px;}
.best_review .list_noti {padding: 17px 0 50px 220px; border-top: 1px solid rgba(51,51,51,.1);}