@charset "UTF-8";

/* ---------------------------------- Icons & Font --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); /* Noto Sans KR */

@font-face {font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url(https://fonts.gstatic.com/s/materialicons/v97/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}

.material-icons {font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 12px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased;}

/* ----------------------------------- ETC ---------------------------------- */
body {margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;}

a {text-decoration: none; color: #333;}

input:focus {outline: none;}

ul {list-style: none;}

/* --------------------------------- Header --------------------------------- */
#header {display: grid; grid-template-rows: 36px 74px; width: 100%;}

#user_menu {background-color: white; color: black; float: left; display: grid; grid-template-columns: 1fr 190px;}
#user_menu {margin-left: auto; margin-right: auto; width: 1050px;}

#title {background-color: white;}

#delivery_info {flex-direction: row; background-color: transparent; width: 120px;}
#delivery_info > a > img {padding-top: 5px; cursor: pointer;}

#user_info {flex-direction: row-reverse; background-color: white; width: 190px; font-size: 11px;}

#service_center {height: 20px;}

#login_menu {position: relative; left: 940px; top: -15px; width: 90px; background-color: white; border: rgb(209, 209, 209) solid 1px; font-size: 11px; padding-top: 10px; padding-left: 5px; z-index: 200;}
#login_menu > li {color: rgb(75, 75, 75); list-style: none; padding-bottom: 8px; font-weight: bold;}
#login_menu > li > a {text-decoration: none; color: black;}
#login_menu > li :hover {color: rgb(57, 175, 63);}

#service_menu {position: relative; left: 940px; top: -15px; width: 90px; background-color: white; border: rgb(209, 209, 209) solid 1px; font-size: 11px; padding-top: 8px; padding-left: 5px; visibility: hidden; z-index: 100;}
#service_menu > li {color: rgb(75, 75, 75); list-style: none; padding-bottom: 8px; font-weight: bold;}
#service_menu > li > a {text-decoration: none; color: black;}
#service_menu > li :hover {color: rgb(57, 175, 63);}

#user_info > * {float: left; margin-top: 10px; padding-left: 10px; padding-right: 8px;}
#user_info > * > * {cursor: pointer;}

#sign_up {border-right: rgb(148, 148, 148) solid 1px;}
#login {border-right: rgb(148, 148, 148) solid 1px;}

/* ------------------------------------ Logo ----------------------------------- */
#logo {position: relative; margin: auto; background-color: white; width: 200px; height: 113px; top: -38px; z-index: 10; align-items: center; cursor: pointer;}
#logo > a > img {max-width: 100%; max-height: 100%;}

/* ---------------------------- Global Navigation Bar --------------------------- */
#gnb_menu {width: 100%; height: 55px; background-color: white; z-index: 99; box-shadow: rgb(238, 238, 238) 1px 3px 4px;}

#gnb {background-color: white; height: 55px; display: grid; grid-template-columns: 1fr 200px 130px 115px 130px 115px 20px 212px 65px 65px 1fr;}
#gnb > * {color: #333; margin-top: 20px; height: 35px; font-size: 15px; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;}

#cate_icon {position: relative;}
#cate_text {position: relative; top: -6.5px;}

#gnb :nth-child(2):not(li, a, ul, #location, #button_double, #address_Btn) {margin-top: 19px; height: 35px;} /* 전체 카테고리 아이콘 */
#gnb :nth-child(9):not(li,a) {padding-left: 35px; margin-top: 15px; cursor: unset;}  /* 주소등록 아이콘 */
#gnb :nth-child(10):not(li,a) {padding-left: 25px; margin-top: 15px; cursor: pointer;} /* 장바구니 아이콘 */

/* 드래그 금지 */
.gnb_menus {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

#gnb :nth-child(3):hover:not(li) {color: darkseagreen;} /* 신상품 */
#gnb :nth-child(4):hover:not(li) {color: darkseagreen;}
#gnb :nth-child(5):hover:not(li) {color: darkseagreen;}
#gnb :nth-child(6):hover:not(li) {color: darkseagreen;}

#inSearch {height: 55px;}

#search {position: relative; background-color: rgb(238, 238, 238); border-radius: 15px; border: none; font-size: 12px; height: 30px; width: 210px; padding-left: 15px; top: -5px;}
#search::placeholder {color: rgb(190, 190, 190); font-size: 12px;}

#reading_glasses {position: relative; top: -52px; right: -195px;}
#reading_glasses :hover{color: darkseagreen;}

#cart:hover{color: darkseagreen;}

/* -------------------------------- Address Layer -------------------------------- */
#gnb :nth-child(9):hover #location {display: block;}
#gnb :nth-child(9):hover #room {color: darkseagreen;}
#gnb :nth-child(9) :not(li, ul, #location, button) {height: 45px;}
#room:hover #location{display: block;}

#location {position: relative; top: -4px; right: 280px; background-color: white; width: 315px; height: 140px; display: none; border: rgb(209, 209, 209) solid 1px; z-index: 100;}

#noAddress {background-color: white; width: 275px; height: 101px; position: relative; top: 10px; margin: auto; display: grid; grid-template-rows: 80px 31px;}
#noAdd_text {background-color: white; font-size: 18px; padding-top: 15px;}

#button_double {display: grid; grid-template-columns: 1fr 1fr; background-color: white;}

#login_Btn {border: seagreen solid 2px; border-radius: 5px; background-color: white; color: seagreen; cursor: pointer; width: 110px; height: 36px; font-weight: bold;}
#address_Btn {width: 159px; height: 36px; background-color: seagreen; color: white; font-weight: bold; border-style: none; border-radius: 5px; cursor: pointer;}

/* -------------------------------- Category -------------------------------- */
#cate.gnb_menus:hover {color: darkseagreen;} /* 메인카테고리 */

#main_category_box {background-color: white; border: rgb(209, 209, 209) solid 1px; width: 219px; height: 684px; position: relative; left: 0; top: 15px; display: none;}

#main_category {padding-left: 0;}
#main_category > li {position: relative; top: -15px; color: rgb(75, 75, 75); height: 18px; font-weight: bold; padding-top: 9px; padding-left: 1px; padding-bottom: 11px;}
.mainCate_text > a {position: relative; top: 0px; padding-right: 0px; padding-left: 14px; padding-top: 8px; padding-bottom: 8px;}

.subs > a {padding-right: 10px; padding-left: -10px; padding-top: 8px; padding-bottom: 9px;}

/* ----------------------------------- 채소 ----------------------------------- */
#sub_vegetable {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -31px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_vegetable > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_vegetable > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 과일 견과 쌀 ----------------------------------- */
#sub_fruit {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -69px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_fruit > .subs {padding-top: 3px;  padding-left: 15px; padding-bottom: 5px;}
#sub_fruit > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 수산 해산 건어물 ----------------------------------- */
#sub_seafood {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -107px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_seafood > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_seafood > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 정육 계란 ----------------------------------- */
#sub_meat {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -145px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_meat > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_meat > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 국 반찬 메인요리 ----------------------------------- */
#sub_soup {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -183px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_soup > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_soup > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 샐러드 간편식 ----------------------------------- */
#sub_salad {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -221px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_salad > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_salad > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 면 양념 오일 ----------------------------------- */
#sub_noodle {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -259px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_noodle > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_noodle > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 생수 우유 음료 커피 ----------------------------------- */
#sub_drink {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -297px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_drink > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_drink > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 간식 과자 떡 ----------------------------------- */
#sub_dessert {position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none;  font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; top: -335px; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px;  z-index: 600;}
#sub_dessert > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_dessert > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 베이커리 치즈 델리 ----------------------------------- */
#sub_bakery {top: -373px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241);  display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_bakery > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_bakery > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 건강식품 ----------------------------------- */
#sub_health {top: -411px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_health > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_health > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 생활용품 ----------------------------------- */
#sub_life {top: -449px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_life > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_life > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 스킨케어 ----------------------------------- */
#sub_skincare {top: -487px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_skincare > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_skincare > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 헤어 바디 구강 ----------------------------------- */
#sub_hair {top: -525px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_hair > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_hair > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 주방용품 ----------------------------------- */
#sub_kitchen {top: -563px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_kitchen > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_kitchen > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 가전제품 ----------------------------------- */
#sub_appliances {top: -601px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_appliances > .subs {padding-top: 3px;  padding-left: 15px; padding-bottom: 5px;}
#sub_appliances > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 베이비 키즈 ----------------------------------- */
#sub_baby {top: -639px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_baby > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_baby > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* ----------------------------------- 반려동물 ----------------------------------- */
#sub_pet {top: -677px; position: relative; width: 219px; height: 684px; background-color: rgb(241, 241, 241); display: none; font-size: 14px; color: #333; line-height: 30px; margin: 0; padding: 0; left: 217px; transition: all 1s; border-top: rgb(209, 209, 209) solid 1px; border-right: rgb(209, 209, 209) solid 1px; border-bottom: rgb(209, 209, 209) solid 1px; z-index: 600;}
#sub_pet > .subs {padding-top: 3px; padding-left: 15px; padding-bottom: 5px;}
#sub_pet > .subs:hover a {color: seagreen; text-decoration: seagreen underline 1px; text-underline-position: under;}

/* 메인카테고리 마우스오버 효과 */
#main_category > .mainCate_text:hover {background-color: rgb(241, 241, 241);}
#main_category > .mainCate_text:hover #mca{color: darkseagreen;}

#sub_category_box > * {display: none;}

/* -------------------------------- animation ------------------------------- */
.fix {position: fixed; animation: header_down 0.5s ease; top: 0; left: 0; z-index: 999;}

/* --------------------------------- 카테고리 부분 -------------------------------- */
#cate.gnb_menus:hover span > div {display: block; animation: mainCate_open 0.5s ease;} /* 메인카테고리가 나타남 */
#cate.gnb_menus:hover span > div > ul {opacity: 0%; animation: text_slowlyVisible 0.2s 0.3s forwards;} /* 메인카테고리가 나타남 */

/* ------------------------------- 서브카테고리가 나타남 ------------------------------ */
#vegetable:hover #sub_vegetable {display: block; animation: text_slowlyVisible 0.5s ease;}
#fruit:hover #sub_fruit {display: block; animation: text_slowlyVisible 0.5s ease;}
#seafood:hover #sub_seafood {display: block; animation: text_slowlyVisible 0.5s ease;}
#meat:hover #sub_meat {display: block; animation: text_slowlyVisible 0.5s ease;}
#soup:hover #sub_soup {display: block; animation: text_slowlyVisible 0.5s ease;}
#salad:hover #sub_salad {display: block; animation: text_slowlyVisible 0.5s ease;}
#noodle:hover #sub_noodle {display: block; animation: text_slowlyVisible 0.5s ease;}
#drink:hover #sub_drink {display: block; animation: text_slowlyVisible 0.5s ease;}
#dessert:hover #sub_dessert {display: block; animation: text_slowlyVisible 0.5s ease;}
#bakery:hover #sub_bakery {display: block; animation: text_slowlyVisible 0.5s ease;}
#health:hover #sub_health {display: block; animation: text_slowlyVisible 0.5s ease;}
#life:hover #sub_life {display: block; animation: text_slowlyVisible 0.5s ease;}
#skincare:hover #sub_skincare {display: block; animation: text_slowlyVisible 0.5s ease;}
#hair:hover #sub_hair {display: block; animation: text_slowlyVisible 0.5s ease;}
#kitchen:hover #sub_kitchen {display: block; animation: text_slowlyVisible 0.5s ease;}
#appliances:hover #sub_appliances {display: block; animation: text_slowlyVisible 0.5s ease;}
#baby:hover #sub_baby {display: block; animation: text_slowlyVisible 0.5s ease;}
#pet:hover #sub_pet {display: block; animation: text_slowlyVisible 0.5s ease;}

/* -------------------------------- keyframes ------------------------------- */
@keyframes header_down {
  0% {transform: translateY(-50px);}
  100% {transform: translateY(0px);}
}

@keyframes mainCate_open {
  0% {height: 0px;}
  100% {height: 684px;}
}

@keyframes text_slowlyVisible {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}
