<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamright.brokruly.product.mapper.ProductMapper">
	<select id="getListBySub" resultType="com.teamright.brokruly.model.ProductVO">
		SELECT * FROM product_table WHERE subcate_id = #{subcate_id}
	</select>
	<select id="getListByMain" resultType="com.teamright.brokruly.model.ProductVO">
		SELECT * FROM product_table INNER JOIN subcategory_table USING (subcate_id) WHERE maincate_id = #{maincate_id}
	</select>
</mapper>